* {
  color:black;
  background:white;
  font-family:verdana;
  font-size:14px;
}

header {
  display:flex;
  position:fixed;
  border-bottom:1px solid black;
  width:100%;
  height:80px;
  margin:0;
  align-items:center;
  font-weight:bold;
}

header nav {
  padding-right:40px;
}

body {
  font-family:georgia;
  font-size: 17px;
  margin:0;
}

h1, h2 {
  font-weight:bold;
}

h1 {
  font-size:40px;
}

h2 {
  font-size:30px;
}

nav span {
  display:inline-block;
  padding:20px 10px;
}

#container {
  display:inline-flex;
  justify-content:space-between;
  width:1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

#topbar {

  align-items:center;
}



#right {

}

#newsbites {
  display:flex;
  flex-direction:column;
}

.logo {
  display:flex;
  align-items:center;
  flex-grow: 1;
  padding-left:30px;
}

.logo span {
  color:#66CDAA;
}

.subcontainer {
  display:inline-flex;
}

.column {
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  margin-right:32px;
}

.col1 {
  width:630px;
}

.col2 {
  width:300px;
}

.col3 {
  display:block;
  width:240px;
  margin:0px;
}

.head {
  justify-content:center;
  align-content:center;

  color:white;
}

.head1 {
  background-image:url("./images/img-story-main.png");
  width: 630px;
}

.head2 {
  background-image:url("./images/img-story-2.png");
}

.head3 {
  background-image:url("./images/img-story-3.png");
}

.head4 {
  background-image:url("./images/img-story-1.png");
}

.center {
  margin:auto;
  margin-top:0px;
  margin-bottom:0px;
}

/*Styling for News Bites Column*/
.bite {
  background-color:#f5f5f5;
  color:#696969;
  font-family:verdana;
  font-size:12px;
  padding:11px 20px;
  border-bottom:1px solid black;

}
